<section class="about-container">
  <p>
    Thanks for stopping by my page. I'm a software developer, Rhode
    Islander, animal lover, gamer, and most importantly - human!
  </p>
  <p>
    I find it satisfying and rewarding to create an experience that helps the
    greatest number of people. I'm curious about how modern tools and
    technology, such as AI, VR and AR, will continue to integrate our everyday
    lives.
  </p>
  <p>
    What will the future of human-tech relations look like? How can we create
    tools and experiences that adapt to the needs of the customers, industry,
    and modern society? And how can we continuously adapt in a responsible,
    ethical, and equitable way?
  </p>
</section>
