/* Apply styles to the container */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make the container at least 100% of the viewport height */
  justify-content: space-between; /* Distributes space between header, main content, and footer */
}

/* Ensure that app-content expands to fill available space */
.app-content {
  flex: 1; /* Takes up all available space pushing the footer down */
  display: flex;
  flex-direction: column;
}

/* Additional styles for light and dark themes */
.app-container.theme-light {
  background-color: var(--color-light-background);
  color: var(--color-light-text-primary);
}

.app-container.theme-dark {
  background-color: var(--color-dark-background);
  color: var(--color-dark-text-primary);
}
