// Generic Styles
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  font-family: var(--font-primary);
}

// Ensure that app-content expands to fill available space
.app-content {
  flex: 1; /* Takes up all available space pushing the footer down */
  display: flex;
  flex-direction: column;
}

// Themed Styles
.app-container.theme-light {
  background: linear-gradient(
      0deg,
      transparent,
      rgba(
        var(---color-gradient-red),
        var(---color-gradient-green),
        var(---color-gradient-blue),
        0.5
      )
    ),
    url("../assets/noise.svg");
  color: var(--color-light-text-primary);
}

.app-container.theme-dark {
  background-color: var(--color-dark-background);
  color: var(--color-dark-text-primary);
}
