:host {
  display: block;
}

nav {
  display: flex;
  justify-content: space-between; 
  align-items: center; /* Center items vertically */
  padding: 10px; 
}

ol {
  list-style-type: none;
  display: flex; /* Display the <ol> as a flex container */
  align-items: center; /* Center items in line with h1 */
  padding: 0; 
  margin: 0; 
}

li {
  margin: 0; 
  padding: 5px; 
}

h1 {
  margin: 0; 
}

.toggle-button {
  margin-left: auto; /* Push the toggle button to the right */
}
