// Generic Styles
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

ol {
  list-style-type: none;
  display: flex;
  align-items: center; // Center items in line with h1
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 5px;
}

h1 {
  margin: 0;
}

.toggle-button {
  margin-left: auto; // Push the toggle button to the right
}

.toggle-button {
  display: flex;
  align-items: center;
  div {
    height: 20px;
    width: 20px;
    margin: 5px;
    border-radius: 5px;
  }
}

#theme-light {
  background-color: var(--color-light);
  border: 1px solid var(--color-black);
}

#theme-dark {
  background-color: var(--color-dark);
  border: 1px solid var(--color-black);
}

// Themed Styles
.header-container.theme-light {
  background-color: var(--color-light-background-header);
  h1,
  li {
    color: var(--color-light-text-primary);
  }
}

.header-container.theme-dark {
  background-color: var(--color-dark-background-header);
  h1,
  li {
    color: var(--color-dark-text-secondary);
  }
}
