<header class="header-container {{ theme }}">
  <nav>
    <ol>
      <li><h1>Brenna Clark</h1></li>
      <li>About</li>
      <li>Projects</li>
      <li>Contact</li>
    </ol>

    <div class="toggle-button">
      <span><h6>Themes:</h6></span>
      <div
        id="theme-light"
        [ngClass]="{ active: isThemeActive('theme-light') }"
        (click)="setTheme('theme-light')"
      ></div>
      <div
        id="theme-dark"
        [ngClass]="{ active: isThemeActive('theme-dark') }"
        (click)="setTheme('theme-dark')"
      ></div>
    </div>
  </nav>
</header>
