<header class="header-container {{ theme }}">
  <nav>
    <ol>
      <li><h1>Brenna Clark</h1></li>
      <li>About</li>
      <li>Projects</li>
      <li>Contact</li>
    </ol>

    <div class="toggle-button">
      <div
        id="theme-light"
        [ngClass]="{ active: isThemeActive('theme-light') }"
        (click)="setTheme('theme-light')"
      ></div>
      <section>
        <img
          *ngIf="theme === 'theme-light'"
          src="../../../../assets/brightness_light.svg"
          alt="Light Theme"
          [style.fill]="'black'"
        />
        <img
          *ngIf="theme === 'theme-dark'"
          src="../../../../assets/brightness_dark.svg"
          alt="Dark Theme"
          [style.fill]="'white'"
        />
      </section>
      <div
        id="theme-dark"
        [ngClass]="{ active: isThemeActive('theme-dark') }"
        (click)="setTheme('theme-dark')"
      ></div>
    </div>
  </nav>
</header>
