:host {
  display: block;
}

.main-container {
  margin: 5vh 10vw;
}

.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hero-text {
  text-align: center;
}

.rectangle {
  width: 100px;
  height: 100px;
  background-color: blue;
  margin-left: 20px; /* Add margin to create space between article and rectangle */
}
