<main class="main-container">
  <p>main works!</p>

  <section class="hero-container">
    <article>
      <h2>Hey, I'm Brenna!</h2>
      <p>All Things Tech</p>
    </article>

    <div class="rectangle"></div>
  </section>

  <section class="bio-container">
    <p>
      I am a User Experience Designer and Developer with a passion for creating
      solutions that are both enjoyable and intuitive. With a diverse mix of UX
      design, technical execution, and AV technology expertise, I bring over 8
      years of experience to the table. I am comfortable at any point in the
      software lifecycle, from design to execution to maintenance, ensuring that
      all components and elements seamlessly blend with user interactions and
      perform optimally.
    </p>
  </section>
</main>
