// Generic Styles

.main-container {
  margin: 5vh 0vw;
}

.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.hero-text {
  text-align: center;
}

.portrait {
  min-width: 40vw;
  height: auto;
  margin: 2vh 0vw; // Add margin to create space between article and rectangle
  aspect-ratio: 1 / 1;
  background-image: url("../../../../assets/BrennaLogo.png");
  background-size: contain;
}

.bio-container {
  margin: 7vh 10vw; // Amount of space between hero-container and bio-container
  text-align: center;
  font-weight: bold;
}

// Themed Styles

.main-container.theme-dark {
  .hero-container {
    background-color: var(--color-dark-background-hero);
  }
  h2 {
    color: var(--color-dark-text-heading);
  }
}
