// Generic Styles
.footer-container {
  padding: 5px;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

// Themed Styles
.footer-container.theme-light {
  background-color: var(--color-light-background-secondary);
  h2 {
    color: var(--color-light-text-primary);
  }
  p,
  a {
    color: var(--color-light-text-secondary);
  }
}

.footer-container.theme-dark {
  background-color: var(--color-dark-background-secondary);
  h2 {
    color: var(--color-dark-text-primary);
  }
  p,
  a {
    color: var(--color-dark-text-secondary);
  }
}
