.footer {
  flex-grow: 1; /* Allow the footer to grow and fill available space */
  margin-top: auto; /* Push the footer to the bottom of the container */
  background-color: #333; /* Set your desired background color */
  color: #fff; /* Set your desired text color */
  padding: 10px; /* Add padding for spacing */
  text-align: center;
}

.footer-container.theme-light {
  background-color: var(--color-light-background-header);
  h2 {
    color: var(--color-light-text-primary);
  }
  h5 {
    color: var(--color-light-text-secondary);
  }
}

.footer-container.theme-dark {
  background-color: var(--color-dark-background-header);
  h2 {
    color: var(--color-dark-text-primary);
  }
  h5 {
    color: var(--color-dark-text-secondary);
  }
}
