/* You can add global styles to this file, and also import other style files */
:root {
  --color-light: #eee;
  --color-light-text-primary: #000;
  --color-light-text-secondary: #888;
  --color-dark-text-heading: #000;
  --color-light-background: #fadabf;
  --color-light-background-secondary: #333;
  // --color-light-gradient: rgba(255, 165, 79, 0.5);

  --color-dark: #222;
  --color-dark-text-primary: #e8d1bd;
  --color-dark-text-secondary: #e4ac7f;
  --color-dark-text-heading: #d88038;
  --color-dark-background: #333;
  --color-dark-background-secondary: #222;

  --font-primary: "Roboto", "Helvetica", "Arial", sans-serif;

  --color-white: white;
  --color-black: black;

  // --noise-svg-url: url("assets/noise.svg");
}

// override margin and padding added by default
body {
  margin: 0;
  padding: 0;
}
