/* You can add global styles to this file, and also import other style files */
:root {
  --color-light: #fff;
  --color-light-text-primary: #666;
  --color-light-text-secondary: #888;
  --color-light-background: #eee;
  --color-light-background-header: #ddd;

  --color-dark: #000;
  --color-dark-text-primary: #000;
  --color-dark-text-secondary: #fff;
  --color-dark-background: #333;
  --color-dark-background-header: #555;
}

// override margin and padding added by default
body {
  margin: 0;
  padding: 0;
}
